<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}"  %>
        <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <div class="alert alert-secondary"><%= debug(params) if Rails.env.development? %></div> 
      <div class="alert alert-secondary"><%= debug("Session's user id : #{session[:user_id]}") if Rails.env.development? %></div>
      <div class="alert alert-secondary"><%= debug("Current user nil? : #{current_user.nil?}") if Rails.env.development? %></div>
      <div class="alert alert-secondary"><%= debug("Logged in? : #{logged_in?}") if Rails.env.development? %></div>
    </div>    
  </body>
</html>       